*{
    box-sizing: border-box;  /*limite da altura e tamanho para todos os elementos*/
    text-decoration: none; /*none remove o sublinhado abaixo do link*/
}

*:not(h1) {  /*todos os elementos serão afetados quando uso o (*) no css  */
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Arial',sans-serif; /*fonte principal*/
    overflow-x: hidden;
}

header{
    box-shadow: 0px 3px 4px #0000002b;  /*borda abaixo do menu*/
    padding: 10px;
    background-color: #fff;
    /*margin = espaço externo*/
    /*padding = espaço interno*/
    position: fixed;
    width: 100%;
    z-index: 2;
}

label[for="bt_menu"]{
    padding: 5px;
    background-color: #5f4a90;
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

nav ul{
    list-style: none; /*tirar o estilo da lista*/
    margin: 0;
}

header div{
    display: inline-block;
}

header div img{
    width: 30px;  /*width largura da img*/
}

header nav{  /*Menu*/
    display: inline-block;
    float: right; /*flutuar o menu para direita*/
}

nav ul li{
    display: inline-block;    /*tirar o estilo da lista, os botoes do menu ficao lado a lado*/
    /*padding: 0 10px 15px;  primeira topo, segunda laterais, terceira baixo*/
    /*padding: 0 10px 15px 20px;  primeira topo, segunda direita, terceira baixo, quarta esquerda*/
    padding: 0 30px;  /*primeira vertical, segunda horizontal*/
    /*padding: 10px;  padding 10px para todos os lados*/

}

nav ul li a{
    color: black;  /*cor do link*/
    text-decoration: none;  /*remover o sublinhado abaixo do link*/
}

section.banner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    background-image: url('../imagens/banner.jpg');
    height: 100vh; /*parametro vh faz  a altura da imagem se adaptar para diferentes tipos  de tela ou smartphone */
    background-repeat: no-repeat;  /*não deixa a imagem ser repitida lado a lado*/
    background-size: cover; /*estica a imagem para as laterais*/
    background-position: center top;  /*esse atributo dá prioridade para uma parte especifica da img*/
    background-attachment: local; /*posso deixar a imagem fixa ou com o atributo scrool a imagem fica parada*/
}

section.banner .conteudo{
    margin-bottom: 90px;
}

section.banner h1{
    font-size: 18px;
    font-weight: normal;
}

section.banner p{
    text-transform: uppercase;   /*Deixa o Texto todo em Maiúscula*/
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

section.banner button{
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
}

section.banner button:hover{
    background-color: #5f4a90;
    border: 1px solid #5f4a90;
    color: #fff;
}

#segundo-link{
    color: red;
}

.texto-verde{
    color: green;   
}

.maiusculo{
    text-transform: uppercase;
}

.banner h1{
    margin-top: 0;
}

/*About*/

.titulo-banner{
    background-image: url(../imagens/about-bannerr.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    height: 40vh;  /*viewport height pega a altura da sua sessão   e vw pega largura 100% */
    line-height: 40vh;
    
}

.titulo-banner h1{
    font-size: 45px;
    margin: 0;

}

.conteudo-principal{
    padding: 40px 20px;
    min-height: 91vh;
}

.conteudo-principal .video-about{
    width: 45%;
    display: inline-block;
    padding: 40px;
}

.conteudo-principal .video-about video{
    width: 100%;
    object-fit: cover;
}

.conteudo-principal .texto{
    width: 54%;
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    
}

.audio{
    background-color: #f1f3f4;
    border-top: #dcdcdc solid 1px;
    text-align: center;
    padding: 30px;

}

.audio p{
    text-transform: uppercase;
    font-size: 18px;
    
}

footer{
    background-color: #5f4a90;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    
}


/*Contato*/

form#contact{
    border: 1px solid #5f4a90;
    padding: 40px;
    width: 500px;
    max-width: 100%;
    border-radius: 8px;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.8)
}

#contact h1{
    text-align: center;
    margin-top: 0;
}

#contact input:not([type="checkbox"]),
#contact textarea{
    width: 100%;
    border: 1px solid #5f4a90;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    text-align: center;
    outline: none;
}

#contact textarea{
    height: 130px;
    resize: none;
}

#contact button{
    background-color: #5f4a90;
    border: 1px solid #5f4a90;
    color: #fff;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 18px;
    float: right;
    
}

#contact button:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.pagina-contato{
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/*Galerias*/
.galeria{
    padding: 40px;
    display: flex;
    justify-content: space-around;   /*Espaçamento de todos os itens na horizontal*/
    flex-wrap: wrap;

}

.galeria-item{
    width: 380px;
    position: relative;
    display: inline-block;
    margin: 15px 0;
    
}

.galeria-item img{
    width: 100%;
    
}

.galeria-item .caixa-botao{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
}

.galeria-item .caixa-botao button{
    background-color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    border: none;
    
}

.galeria-item .caixa-botao button:hover{
    background-color: #5f4a90;
    color: white;
    cursor: pointer;
}

@media (min-width:540px) and (max-width: 960px) {
    /* body {
        background-color: purple;
    } */

    label[for="bt_menu"]{
        display: block;
        margin: 5px;
        float: right;
        margin-top: -1px;
        background-color: #000;
    }

    #bt_menu:checked ~ .menu{
        margin: 0;
    }

    #bt_menu{
        right: 100px;
    }

    .menu ul li{
        width: 100%;
        text-align: center;
        float: none;
        padding: 10px;
    }

    .menu ul li:hover{
        background-color: #5f4a90;
        
    }
    .menu ul li a:hover{
        color: #fff;
    }

    .menu{
        margin: -100%;
        transition: all .4s;
        width: 100%;
    }

    .conteudo-principal .video-about {
        width: 100%;
    }

    
.conteudo-principal .texto {
    width: 100%;

    }
}

@media (max-width: 540px) {
    .conteudo-principal .video-about {
        width: 100%;
        padding: 20px;
    }
    
.conteudo-principal .texto {
    width: 100%;
    padding: 20px;
 }

 label[for="bt_menu"]{
    display: block;
    margin: 5px;
    float: right;
    margin-top: -1px;
}

#bt_menu:checked ~ .menu{
    margin: 0;
}

#bt_menu{
    right: 100px;
}

.menu ul li{
    width: 100%;
    float: none;
    
}

.menu ul li:hover{
    background-color: #5f4a90;
    
}
.menu ul li a:hover{
    color: #fff;
}

.menu{
    margin: -100%;
    transition: all .4s;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    
}
}
