*{
    box-sizing: border-box;  /*limite da altura e tamanho para todos os elementos*/
}

*:not(h1) {  /*todos os elementos serão afetados quando uso o (*) no css  */
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Arial',sans-serif; /*fonte principal*/
}

header{
    box-shadow: 0px 3px 4px #0000002b;  /*borda abaixo do menu*/
    padding: 10px;
    /*margin = espaço externo*/
    /*padding = espaço interno*/
}

nav ul{
    list-style: none; /*tirar o estilo da lista*/
    margin: 0;
}

header div{
    display: inline-block;
}

header div img{
    width: 30px;  /*width largura da img*/
}

header nav{  /*Menu*/
    display: inline-block;
    float: right; /*flutuar o menu para direita*/
}

nav ul li{
    display: inline-block;    /*tirar o estilo da lista, os botoes do menu ficao lado a lado*/
    /*padding: 0 10px 15px;  primeira topo, segunda laterais, terceira baixo*/
    /*padding: 0 10px 15px 20px;  primeira topo, segunda direita, terceira baixo, quarta esquerda*/
    padding: 0 10px;  /*primeira vertical, segunda horizontal*/
    /*padding: 10px;  padding 10px para todos os lados*/

}

nav ul li a{
    color: black;  /*cor do link*/
    text-decoration: none;  /*remover o sublinhado abaixo do link*/
}

section{
    text-align: center;
}

section button{
    background-color: #5f4a90;
    border: 1px solid #5f4a90;
    color: #fff;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;

}

#segundo-link{
    color: red;
}

.texto-verde{
    color: green;   
}

.maiusculo{
    text-transform: uppercase;
}

.banner{
    background-image: url('../imagens/banner.jpg');
    height: 100vh; /*parametro vh faz  a altura da imagem se adaptar para diferentes tipos  de tela ou smartphone */
    background-repeat: no-repeat;  /*não deixa a imagem ser repitida lado a lado*/
    background-size: cover; /*estica a imagem para as laterais*/
    background-position: left top;  /*esse atributo dá prioridade para uma parte especifica da img*/
    background-attachment: local; /*posso deixar a imagem fixa ou com o atributo scrool a imagem fica parada*/
}

.banner h1{
    margin-top: 0;
}